<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.linkwifi.wifipro</string>
		<string>com.linkwifi.wifikey</string>
		<string>com.lantern.wifikey.mobile</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>weixinURLParamsAPI</string>
		<string>openapp.jdmobile</string>
		<string>momochat</string>
		<string>hello</string>
		<string>yykiwi</string>
		<string>vipshop</string>
		<string>tbopen</string>
		<string>ctrip</string>
		<string>iMeituan</string>
		<string>pddopen</string>
		<string>xhsdiscover</string>
		<string>baiduboxlite</string>
		<string>fleamarket</string>
		<string>iqiyi</string>
		<string>taobaotravel</string>
		<string>kwai</string>
		<string>ksnebula</string>
		<string>alipays</string>
		<string>youku</string>
		<string>baiduboxapp</string>
		<string>douyinliteopensdk</string>
		<string>eleme</string>
		<string>amapuri</string>
		<string>snssdk1128</string>
		<string>txvideo</string>
		<string>bilibili</string>
		<string>tmall</string>
		<string>diditaxi</string>
		<string>meituanwaimai</string>
		<string>xuexi-open</string>
		<string>hmjc</string>
		<string>meetyouopen</string>
		<string>easicare</string>
		<string>carowner</string>
		<string>mihoyobbs</string>
		<string>ipeisong</string>
		<string>unidriver</string>
		<string>huolala-driver</string>
		<string>taptap</string>
		<string>app.csdn.net</string>
		<string>homed</string>
		<string>BaletooZukeban</string>
		<string>edaijia</string>
		<string>ApeZj</string>
		<string>cainiao</string>
		<string>lianjia</string>
		<string>iosamap</string>
		<string>dewuapp</string>
		<string>yanxuan</string>
		<string>kaola</string>
		<string>openapp.jdpingou</string>
		<string>suning</string>
		<string>taobaoliveshare</string>
		<string>fleamarket</string>
		<string>dianping</string>
		<string>qunariphone</string>
		<string>baiduhaokan</string>
		<string>bdminivideo</string>
		<string>baiduboxmission</string>
		<string>qihooloan</string>
		<string>weishi</string>
		<string>travelguide</string>
		<string>wbmain</string>
		<string>OneTravel</string>
		<string>freereader</string>
		<string>tantanapp</string>
		<string>vmall</string>
		<string>miguvideo</string>
		<string>yymobile</string>
		<string>shuqireader</string>
		<string>com.baidu.tieba</string>
		<string>zhihu</string>
		<string>comjia</string>
		<string>tuhu</string>
		<string>lianjiabeike</string>
		<string>secoo</string>
		<string>tomas</string>
		<string>openanjuke</string>
		<string>sinaweibo</string>
		<string>mttbrowser</string>
		<string>rangersapplog.71f52a05b7008588</string>
		<string>atmlegend2</string>
		<string>uusdk.l22</string>
		<string>mergemansion</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>获取IDFA有助于提供更优质的个性化服务及内容</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
